<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My First Backend</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <ul>
        <% { posts.forEach(post => { %>
        <li class="li-item">
          <h2 class="title"><%= post.title %></h2>
          <p class="content"><%= post.content %></p>
          <p class="time"><%= post.postTime %></p>
          <div>
            <form action="/posts/update/<%= post.id %>" method="GET">
              <button type="submit">Update</button>
            </form>
            <form
              action="/posts/delete/<%= post.id %>?_method=DELETE"
              method="POST"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
        </li>
        <% });} %>
      </ul>

      <button onclick="window.location.href='/posts/create'">
        Create New Post
      </button>
    </main>
  </body>
</html>
